/*
   CSS Review

   Resume Style Sheet
   Author: Malinda Johnson
   Date:   September 29, 2020

   Filename: styles.css
   Supporting Files: index.html
*/

/********************  GLOBAL  *********************/

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    color: #201f1f;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5ebe2;
}

/***    TOP NAV     ***/
nav {
    width: 100%;            /*  Stretch full-length of screen   */
    font-family: 'Oswald', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}

/*  Style Top Unordered List for Postioning Sub-Menu    */
.mainNav {
    position: relative;     /*  So submenus can be positioned   */
    list-style: none;       /*  Remove bullets                  */
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/* Style for navigation list items specifies a border radius, margin, width, and padding */
.mainNav li {
    float: left;            /*  Push Top Navs against each other    */
    white-space: nowrap;    /*  Make sure words stay on same line   */
    width: 20%;             /*  Give each Nav button same width     */
    border-radius: 0;
    cursor: pointer;        /*  Use for drop-down menu              */
}

/* Style for navigation links specifies display, padding, and removal of underlines */
.mainNav li a {
    display: block;     
    margin-top: 8%;
    color: #FFFFFF;
    text-align: center;
	font-size: 1.25em;
    text-decoration: none;
    background-color: #946228;
    /* Raised look */
    /*border-top: .15em solid rgb(250, 250, 250);
    border-left: .15em solid rgb(250, 250, 250);
    border-bottom: .15em solid #160c01;
    border-right: .15em solid #160c01;*/
    width: 100%;        /*  Tutorial had 130px?     */ 
}

/* Style rules for pseudo-classes */

.mainNav li a:link {
	font-size: 1.25em;
}

.mainNav li a:visited {
	font-size: 1.25em;
}

.mainNav li a:hover {
	color: #2e1d03;
	font-size: 1.25em;
}

.mainNav li a:active {
	font-size: 1.25em;
}

/***    SECOND LEVEL NAV     ***/
.subNav {
    position: absolute;     /*  Absolutely open BELOW calling menu  */
    list-style: none;       /*  Remove bullets                      */
    width: 100%;  
    padding: 0;             /*  Keep directly below                 */
    margin: 0;              /*  Prevent off-center                  */
    left: -999em;           /*  Hide until hover; don't use display:*/
    /*  none because of accessibility issues*/
}

.subNav li {
    float: none;            /*  Display exactly at occurrence       */
    
}

.subNav li a {
    font-size: 1.15em;
    background-color: #bb9a66;
    padding: 0;
    margin: 0;
    width: 97.13%;        /*  Tutorial had 130px?     */ 
    /* Boxed look */
    border-left: .15em solid #160c01;
    border-bottom: .13em solid #160c01;
    border-right: .15em solid #160c01;
}

.subNav li a:hover {
    display: block;         /*  Display vertically on hover         */ 
    
}

.mainNav li:hover ul {
    display: block;
    left: auto;             /*  Unhide -- bring back in position    */
    font-size: .95em;
}

/***    GENERAL FORMATTING    ***/

img {
    width: 300px;
}

.left_justify {
    float: left;
    line-height: 0%;
}

.newspaper {
    text-align: justify;
}

.right_bold {
    float: right;
    font-weight: bold;
    line-height: 0%;
}

/********************  ABOUT / PROFILE  *********************/

header {
    clear: left;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace, serif;
    font-weight: bold;
    margin: 2%;
}

header p {
    opacity: 0.9;
}

h1 {
    padding-top: 3%;
    font-size: 3em;
    text-shadow: 3px 3px #afacac;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    color: #3b2205;
}

section {
    padding: 2%;
}

/********************  PROJECTS / PORTFOLIO  *********************/

.portfolio {
    margin-top: 2%;
    background-color: #e9d3b9;
}

.fig1 {
    padding-left: 4%;
    width: 28%;
    float: left;

}

.fig2 {
    width: 28%;
    float: left;
}

.fig3 {
    padding-right: 4%;
    padding-bottom: 10%;
    width: 28%;
    float: left;
}

.fig1 h3,
.fig2 h3,
.fig3 h3 {
    text-align: center;
}

/*	Special Pseudo Button to provide link back to specific sites	*/
.linkButton {
    background-color: #946228;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1%;
    cursor: pointer;
    padding: .5%;
    border-top: .15em solid rgb(250, 250, 250);
    /* Raised look */
    border-left: .15em solid rgb(250, 250, 250);
    border-bottom: .15em solid #160c01;
    border-right: .15em solid #160c01;
}

.fig1 .linkButton,
.fig2 .linkButton,
.fig3 .linkButton {
    position: relative;
    /*  Get button centered */
    left: 20%;
}

/*	Make link Button appear as pushed when clicked	*/
.linkButton:focus {
    outline-color: #666666;
    outline-style: solid;
    outline-width: 0.1em;
}

/********************  WORK EXPERIENCE  *********************/

.work_experience {
    clear: left;
    background-color: #e9d3b9;
}

/********************  EDUCATION & CERTIFICATIONS  *********************/

h4 {
    padding-top: 2%;
}

/********************  CONTACT INFO / SOCIAL MEDIA  *********************/

footer {
    clear: both;
    font-size: .80rem;
    font-weight: bold;
    text-align: center;
    background-color: #b8b3ae;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -1.2em;
    margin-left: auto;
    margin-right: auto;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #201f1f;
    text-decoration: none;
}